.about {
    position: relative;

    .folhas {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        img {
            max-width: 170px;
            @include mqm('tablet') {
                max-width: 100px;
            }
            position: absolute;
            &:nth-child(1) {
                top: 10%;
                left: 10%;
            }
            &:nth-child(2) {
                top: 40%;
                right: 10%;
            }
            &:nth-child(3) {
                top: 60%;
                left: 50%;
            }
            &:nth-child(4) {
                top: 70%;
                left: 10%;
            }
            &:nth-child(5) {
                top: 90%;
                left: 50%;
            }
        }
    }

    min-height: 100vh;
    max-width: 100%;
    background: $dark-color-1;
    display: flex;
    flex-flow: column wrap;
    &-title {
        position: relative;
        z-index: 3;
        h1 {
            @include tipo-1(big-big, 1, 900, white);
            opacity: .3;
            @include mqm('phone-small') {
                @include tipo-1(big, 1, 900, white);
            }
        }
        align-self: flex-start;
        padding: 50px;
        @include mq('tablet') {
            padding: 80px 100px;      
        }
        @include mqm('phone') {
            align-self: center;
            padding: 20px 5%;
        }
    }
    &-description {
        position: relative;
        z-index: 3;
        p {
            @include tipo-1("small", 1.5, 300, white);
            opacity: .9;
            text-align: left;
            @include mqm('tablet-wide'){
                @include tipo-1("smaller", 1.5, 300, white);
            }
        }
        max-width: 600px; 
        @include mqm('tablet-wide'){
            max-width: 400px; 
        }
        align-self: center;
        padding: 0;
        @include mqm('phone') {
            padding: 0 5%;
        }
    }
    &-cta {
        position: relative;
        z-index: 3;
        a {
            display: flex;
            padding-bottom: 60px;
            align-items: center;
            @include tipo-1(smaller, 1.4, 100, white); 
            @include mqm('phone') {
                padding-bottom: 0px;
            }
            .link-arrow {
                margin-left: 15px;
                background: white;
                &::after, &::before { 
                    background: white;
                }
            }       
        }
        align-self: center;
        padding: 50px;
        @include mqm('phone') {
            padding: 50px 15%;
            text-align: right;
        }
        @include mq('tablet') {   
            align-self: flex-end;
            padding: 150px 115px 0 100px;
        }
    }
}