.campanhas {

    background: url('../img/bg-home.png');
    
    // intro start here
    
    &-intro {
        .intro-bg {
            max-width: 100%;
            padding: 7% 0 50px 0;
            @include mqm("tablet") {
                padding: 25% 0 30px 0;
            }
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                @include tipo-1('big-big', 1, 500, $dark-color-1);
                font-size: 3rem;
                padding: 0 10%;
                text-align: center;
                margin-bottom: 10px;
            }
            h2 {
                @include tipo-1('small', 1.5, 300, $dark-color-1);
                font-size: 1rem;
                padding: 0;
                margin: 0;
                flex-shrink: 0;
            }
        }
    }
    
    // intro end here
    
    // coleta starts here
    
    .coleta {
        padding: 50px 5%;
        padding-top: 10vh;
        @include mqm('tablet') {
            padding: 15vh 5% 30px 5%;
        }
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        span {
            display: block;
            height: 30px;
            width: 30px;
            border-top: 10px solid $dark-color-1;
            border-left: 10px solid $dark-color-1;
            opacity: .5;
            @include mqm('tablet') {
                height: 10px;
                width: 10px;
                border-top: 3px solid $dark-color-1;
                border-left: 3px solid $dark-color-1;
            }
            transition: all ease .1s;
            cursor: pointer;
            &.arrow-left {
                transform: rotate(315deg);
            }
            &.arrow-right {
                transform: rotate(135deg);
            }
            &.active:hover {
                opacity: 1;
            }
            &.deactive {
                opacity: .1;
                cursor: auto;
            }
        }
        img {
            display: none;
            max-width: 500px;
            @include mqm('tablet') {
                max-width: 300px;
                margin: 0 5px;
            }
            @include mqm('phone') {
                max-width: 250px;
            }
            margin: 0 30px;
            &.ativo {
                display: block;
            }
        }
    }

    // coleta end here


    // download end here

    .download-pdf {
        text-align: center;
        padding: 0 5% 50px 5%;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            @include tipo-1 ('smaller', 1, 700, $dark-color-1);
            opacity: .6;
            &:hover {
                opacity: .9;
            }
            &::before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                background: url('../img/icons/download.png') no-repeat center;
                background-size: cover;
                margin-right: 10px;
            }
        }
    }

    // download end here
}