.contact-page {

    background: url('../img/bg-home.png');
    
    // intro start here
    
    &-intro {
        .intro-bg {
            max-width: 100%;
            padding: 7% 0 50px 0;
            @include mqm("tablet") {
                padding: 25% 0 30px 0;
            }
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                @include tipo-1('big-big', 1, 500, $dark-color-1);
                font-size: 3rem;
                padding: 0;
                margin-bottom: 10px;
            }
            h2 {
                @include tipo-1('small', 1.5, 300, $dark-color-1);
                font-size: 1rem;
                max-width: 800px;
                opacity: .8;
                padding: 15px;
                margin: 0;
                flex-shrink: 0;
            }
        }
    }
    
    // intro end here
    
    
    
    
    
    
    // Tutorial start here
    
    &-tutorial {
        padding-bottom: 100px;
        .tutorial {
            &-seletores {
                display: flex;
                justify-content: center;
                margin-bottom: 40px;
                @include mqm('tablet') {
                    margin-bottom: 30px;
                }
                .seletor {
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    border-radius: 40px;
                    border: 2px solid $primary-color-2;
                    background: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .3s ease;
                    &:hover {
                        background: $primary-color-3;
                        span {
                            color: white;
                            filter: brightness(0%) invert(100%);
                        }
                    }
                    span {
                        @include tipo-1('big', 1, 300, $primary-color-3);
                        img {
                            max-width: 30px;
                        }
                    }
                    margin: 25px;
                    @include mqm('tablet'){
                        margin: 15px;
                    }
                }
            }
        }
        .tutorial-description {
            max-width: 600px;
            margin: 0 auto;
            padding: 30px 50px 45px 50px;
            @include mqm('tablet'){
                margin: 0 15px;
                padding: 30px 20px 30px 20px;
            }
            @include shadow;
            background: white;
            border-radius: 15px;
            display: flex;
            .description-text {
                text-align: center;
                span {
                    @include tipo-1 ('small', 1, 500, $dark-color-1);
                    opacity: .8;
                    margin-bottom: 20px;
                    display: block;
                }
                h2 {
                    @include tipo-1 ('medium', 1, 500, $dark-color-1);
                    margin-bottom: 30px;
                }
                p {
                    @include tipo-1 ('small', 1.6, 300, $dark-color-1);
                    opacity: .9;
                    @include mqm('tablet'){
                        font-size: 1rem;
                    }
                }
            }
        }

        [data-target] {
            opacity: 0;
            visibility: hidden;
            transform: translate3d(-50px, 0, 0);
            position: absolute;
            top: 0;
        }

        [data-target].active {
            opacity: 1;
            visibility: visible;
            transition: .3s;
            position: relative;
            top: auto;
            transform: translate3d(0px, 0, 0);
        }

        [data-click].active {
            background: $primary-color-3;
            span {
                color: #FFF;
                filter: brightness(0%) invert(100%);
            }
        }
        
    }
    
    // Tutorial start here
    
    
    
    
    
    
    // Register start here
    
    .contact-data {
        padding: 100px 10%;
        @include mqm('tablet-wide') {
            padding: 50px 5%;
        }
        background: $dark-color-1;
        img {
            opacity: .4;
            position: relative;
            top: -200px;
        }
        .data-wrapper {
            margin: 0 auto;
            max-width: 800px;
            display: grid;
            grid-template: 
            "title data"
            / 200px 500px;
            grid-column-gap: 10%;
            padding: 50px 5%;
            @include mqm('tablet-wide') {
                grid-template: 
                "title"
                "data"
                / 1fr;
            }
            @include mqm('phablet') {
                padding: 50px 0;
            }
            h3 {
                height: 25px;
                grid-area: title;
                @include tipo-1('medium', 1, 500, white);
                border-left: 1px solid rgba(255, 255, 255, .30);
                padding-left: 15px;
            }
            .endereco {
                grid-area: data;
                p {
                    @include tipo-1('small', 1.3, 300, white);
                    font-size: 1.5rem;
                    max-width: 500px;
                    @include mqm('tablet-wide') {
                        padding-top: 50px;
                        padding-left: 50px;
                    }
                    @include mqm('phablet') {
                        padding: 0;
                        padding-top: 50px;
                    }
                    margin-top: 20px;
                }
            }
            .links {
                @include mqm('tablet-wide') {
                    padding-top: 50px;
                    padding-left: 50px;
                }
                @include mqm('phablet') {
                    padding: 0;
                    padding-top: 50px;
                }
                grid-area: data;
                max-width: 1000px;
                display: grid;
                grid-template: 
                "tel" 150px
                "cel" 150px
                "email" 70px
                / 300px ;
                .num {
                    span {
                        @include tipo-1 ('small', 1, 300, white);
                    }
                    p {
                        margin-top: 20px;
                        @include tipo-1 ('medium', 1.5, 300, white);
                        @include mqm('phablet') {
                            margin-top: 10px;
                            @include tipo-1 ('small', 1.5, 300, white);
                        }
                        a {
                            @include tipo-1 ('medium', 1.5, 300, white);
                            @include mqm('phablet') {
                                @include tipo-1 ('small', 1.5, 300, white);
                            }
                        }
                    }
                    .tel {
                        grid-area: tel;
                    }
                    .cel {
                        grid-area: cel;
                    }
                }
                .email {
                    grid-area: email;
                    @include tipo-1 ('medium', 1, 300, white);
                }
            }
        }
    }
    
    // Register end here
    
    
    
    
    
    
    // Smash start here
    
    &-smash {
        padding: 50px 200px;
        @include mqm('tablet'){
            padding: 50px 10%;
        }
        text-align: center;
        p {
            @include tipo-1 ('medium', 1, 500, $dark-color-1);
        }
    }
    
    // Smash end here
    
}