.infra {
    
    background: url('../img/bg-home.png');
    
    // intro start here
    
    &-intro {
        .intro-bg {
            max-width: 100%;
            padding: 7% 0 50px 0;
            @include mqm("tablet") {
                padding: 25% 0 30px 0;
            }
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                @include tipo-1('big-big', 1, 500, $dark-color-1);
                font-size: 3rem;
                @include mqm('phone-wide') {
                    font-size: 2rem;
                }
                padding: 0;
                margin-bottom: 10px;
                &::after {
                    content: '';
                    display: block;
                    background: $dark-color-1;
                    width: 20%;
                    height: 4px;
                    margin: 10px auto;
                }
            }
            p {
                @include tipo-1('small', 1.5, 300, $dark-color-1);
                font-size: 1rem;
                padding: 0;
                margin: 0;
                flex-shrink: 0;
            }
        }
    }
    
    // intro end here
    
    
    
    
    
    
    // Description start here
    
    &-description {
        display: flex;
        flex-direction: column;
        .infra-d {
            padding: 0px 15% 100px 15%;
            @include mqm('tablet'){
                padding: 50px 10%;
            }
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            img {
                max-width: 300px;
                @include mqm('phone') {
                    width: 220px;
                    margin: {
                        left: auto;
                        right: auto;
                    }
                }
                margin-right: 50px;
                margin-bottom: 30px;
            }
            &-text {
                display: flex;
                flex-direction: column;
                p {
                    @include tipo-1('small', 1.4, 300, $dark-color-1);
                    max-width: 500px;
                    margin: {
                        left: 50px;
                        bottom: 20px;
                    }
                    @include mqm('tablet') {
                        margin-left: 0;
                    }
                    opacity: .9;
                }
                a {
                    align-self: flex-end;
                    @include tipo-1('smaller', 1, 500, $dark-color-1);
                    opacity: .9;
                    display: flex;
                    align-items: center;
                }
            }
            
        }
        .dma {
            background: $dark-color-1;
            display: grid;
            grid: 
                "text img"
                /1fr 1fr;
            justify-items: center;
            align-items: center;
            column-gap: 30px;
            grid-row-gap: 30px;
            padding: 50px 15%;
            @include mqm('tablet-wide') { padding: 50px 5% }
            @include mqm('tablet') { grid: "text" "img" /1fr; }
            &-text {
                grid-area: text;
                &-bg {
                    h1 {
                        @include tipo-1('medium', 1.4, 500, white)
                    }
                    p {
                        @include tipo-1('smaller', 1.5, 300, white);
                        max-width: 460px;
                        opacity: .9;
                    }
                    p + p {
                        margin-top: 30px;
                    }
                }
            }
            &-img-wrapper {
                grid-area: img;
                max-width: 400px;
                img {
                    max-width: 100%;
                    border-radius: 10px;
                }
            }
        }
    }
    
    // Description end here
    
    
    
    
    
    
    // Sectors start here
    
    &-in {
        display: grid;
        grid-template-columns: 1fr;
        padding: 70px 0 100px 0;
        @include mqm('desktop'){
            padding: 50px;
        }
        justify-content: center;
        align-items: center;
        
        .title {
            width: 350px;
            @include mqm('phone') {
                width: 320px;
            }
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
            h2 {
                @include tipo-1 ('big', 1, 700, 0);
                font-size: 3.5;
                @include mqm('phone') {
                    @include tipo-1 ('medium', 1.6, 700, 0);
                }
            }
            .folha {
                margin: {
                    top: 20px;
                }
                img {
                    width: 40px;
                }
            }
        }
        
        .in-items {
            display: flex;
            flex-direction: column;
            .in-item {
                display: grid;
                margin: 30px auto;
                &:nth-child(1n) {
                    grid-template: 
                    "img title" 60px
                    "img description" 70px
                    / 120px 600px;
                }
                &:nth-child(2n) {
                    grid-template: 
                    "title img" 60px
                    "description img" 70px
                    / 600px 120px;
                }
                grid-column-gap: 45px;
                @include mqm('tablet-wide') {
                    &:nth-child(1n) {
                        grid-template: 
                        "img title" 60px
                        "img description" 90px
                        / 120px 400px;
                    }
                    &:nth-child(2n) {
                        grid-template: 
                        "title img" 60px
                        "description img" 90px
                        / 400px 120px;
                    }
                    grid-column-gap: 35px;
                }
                @include mqm('tablet-small') {
                    &:nth-child(1n) {
                        grid-template: 
                        "img" 80px
                        "title" 60px
                        "description" 150px
                        / 300px ;
                    }
                    &:nth-child(2n) {
                        grid-template: 
                        "img" 80px
                        "title" 60px
                        "description" 150px
                        / 300px ;
                    }
                    justify-items: center;
                }

                img {
                    grid-area: img;
                    width: 120px;
                    align-self: end;
                    @include mqm('tablet-small') {
                        width: 80px;
                    }
                }
                h3 {
                    grid-area: title;
                    align-self: end;
                    padding-bottom: 10px;
                    @include tipo-1('medium', 1, 500, $dark-color-1)
                    @include mqm('tablet-small') {
                        @include tipo-1('small', 1, 500, $dark-color-1);
                        text-align: center;
                    }
                }
                .description {
                    grid-area: description;
                    background: white;
                    @include shadow;
                    border: 1px solid rgba(0, 0, 0, .1);
                    border-radius: 10px;
                    padding: 10px 20px;
                    p {
                        @include tipo-1('smaller', 1.5, 300, $dark-color-1)
                    }
                }
            }
        }
    }
    
    // Sectors end here
    
    
    
    
    
    
    // Services start here
    
    &-services {
        padding: 100px 5% 60px 5%;
        @include mqm('tablet'){
            padding: 50px 2px;
        }
        background: $dark-color-1;
        .title {
            max-width: 350px;
            @include mqm('phone') {
                margin: 0 auto 60px auto;
            }
            margin: 0 auto 60px auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                @include tipo-1 ('big', 1, 700, white);
                font-size: 3.5;
            }
            .folha {
                margin: {
                    top: 20px;
                }
                img {
                    width: 40px;
                }
            }
        }
        
        .services {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            @include mqm('tablet-wide') {
                grid-template-columns: 1fr 1fr;
            }
            @include mqm('tablet-small') {
                justify-items: center;
                align-content: center;
                grid-row-gap: 60px;
                grid-template-columns: 1fr;
            }
            &-arrow {
                display: grid;
                grid: 
                    "arrow nome";
                align-content: center;
                justify-content: center;
                align-items: center;
                grid-column-gap: 10px;
                height: 370px;
                span {
                    grid-area: arrow;
                    font-size: 4rem;
                    font-weight: bold;
                    color: white;
                    display: block;
                }
                p {
                    grid-area: nome;
                    font-size: 3rem;
                    font-weight: bold;
                    color: white;
                }
            }
            &-item {
                max-width: 300px;
                padding: 50px 60px;
                @include mqm('tablet') {
                    padding: 10px;
                    margin: 0 50px;
                }
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                .illustration {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 200px;
                    background: white;
                    border-radius: 100px;
                    margin-bottom: 50px;
                    @include mqm('phone-wide') {
                        margin-bottom: 30px;
                    }
                    img {
                        max-width: 80%;
                        max-height: 80%;
                    }
                }
                .description {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h3 {
                        @include tipo-1 ('medium', 1, 500, white);
                        margin-bottom: 20px;
                        opacity: .9;
                    }
                    p {
                        @include tipo-1 ('smaller', 1.5, 300, white);
                        max-width: 200px;
                        opacity: .6;
                    }
                }
            }
        }
    }
    
    // Services end here
    
    
    
    
    
    
    // Documents start here
    
    &-documents {
        box-sizing: border-box;
        padding: 100px 5%;
        width: 100%;
        @include mqm('tablet') {
            padding: 50px 15%;
        }

        display: flex;
        flex: 1;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;

        h1 {
            margin: 0 40px 30px 0;
            align-self: flex-start;
            @include tipo-1('big', 1, 500, $dark-color-1)
        }
        div {
            margin-left: 40px;
            ul {
                padding-top: 0px;
                li {
                    a {
                        cursor: pointer;
                        opacity: .7;
                        transition: opacity .2s ease;
                        @include tipo-1('small', 1.6, 300, $dark-color-1);
                        display: flex;
                        &::before {
                            content: '';
                            display: block;
                            width: 20px;
                            height: 20px;
                            background: url('../img/icons/download.png') no-repeat center;
                            background-size: cover;
                            margin-right: 10px;
                        }
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    
    // Documents end here
}
