.infra {
    
    background: url('../img/bg-home.png');
    
    // intro start here
    
    &-intro {
        .intro-bg {
            max-width: 100%;
            padding: 7% 0 50px 0;
            @include mqm("tablet") {
                padding: 25% 0 30px 0;
            }
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                @include tipo-1('big-big', 1, 500, $dark-color-1);
                font-size: 3rem;
                @include mqm('phone-wide') {
                    font-size: 2rem;
                }
                padding: 0;
                margin-bottom: 10px;
                &::after {
                    content: '';
                    display: block;
                    background: $dark-color-1;
                    width: 20%;
                    height: 4px;
                    margin: 10px auto;
                }
            }
            p {
                @include tipo-1('small', 1.5, 300, $dark-color-1);
                font-size: 1rem;
                padding: 0;
                margin: 0;
                flex-shrink: 0;
            }
        }
    }
    
    // intro end here
    
    
    
    
    
    
    // Description start here
    
    &-description {
        display: flex;
        flex-direction: column;
        .infra-d {
            padding: 0px 10% 100px 15%;
            @include mqm('desktop'){
                padding: 50px 5%;
            }
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            img {
                max-width: 400px;
                height: 152px;
                @include mqm('tablet') {
                    max-width: 300px;
                    height: 114px;
                    margin: {
                        left: auto;
                        right: auto;
                    }
                }
                @include mqm('phone') {
                    max-width: 250px;
                    height: 95.5px;
                    margin: {
                        left: auto;
                        right: auto;
                    }
                }
                margin-bottom: 30px;
            }
            &-text {
                display: flex;
                flex-direction: column;
                p {
                    @include tipo-1('small', 1.4, 300, $dark-color-1);
                    max-width: 500px;
                    margin: {
                        left: 50px;
                        bottom: 20px;
                    }
                    @include mqm('tablet') {
                        margin-left: 0;
                        text-align: center;
                        max-width: 400px;
                    }
                    opacity: .9;
                }
                a {
                    align-self: flex-end;
                    @include tipo-1('smaller', 1, 700, $dark-color-1);
                    opacity: .7;
                    display: flex;
                    align-items: center;
                }
            }
        }
        .dma {
            background: $dark-color-1;
            display: grid;
            grid: 
                "text img"
                /1fr 1fr;
            justify-items: center;
            align-items: center;
            column-gap: 30px;
            grid-row-gap: 30px;
            padding: 50px 15%;
            @include mqm('tablet-wide') { padding: 50px 5% }
            @include mqm('tablet') { grid: "text" "img" /1fr; }
            &-text {
                grid-area: text;
                &-bg {
                    h1 {
                        @include tipo-1('medium', 1.4, 500, white)
                    }
                    p {
                        @include tipo-1('smaller', 1.5, 300, white);
                        max-width: 460px;
                        opacity: .9;
                    }
                    p + p {
                        margin-top: 30px;
                    }
                }
            }
            &-img-wrapper {
                grid-area: img;
                max-width: 400px;
                img {
                    max-width: 100%;
                    border-radius: 10px;
                }
            }
        }
    }
    
    // Description end here
    
    
    
    
    
    
    // Sectors start here
    
    &-in {
        display: grid;
        grid-template-columns: 1fr;
        padding: 70px 0 100px 0;
        @include mqm('desktop'){
            padding: 50px;
        }
        justify-content: center;
        align-items: center;
        
        .title {
            width: 350px;
            @include mqm('phone') {
                width: 320px;
            }
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
            h2 {
                @include tipo-1 ('big', 1, 700, 0);
                font-size: 3.5;
                @include mqm('phone') {
                    @include tipo-1 ('medium', 1.6, 700, 0);
                }
            }
            .folha {
                margin: {
                    top: 20px;
                }
                img {
                    width: 40px;
                }
            }
        }
        
        .in-items {
            display: flex;
            flex-direction: column;
            .in-item {
                display: grid;
                margin: 30px auto;
                &:nth-child(1n) {
                    grid-template: 
                    "img title" 60px
                    "img description" 70px
                    ". description" 1fr
                    / 120px 600px;
                }
                &:nth-child(2n) {
                    grid-template: 
                    "title img" 60px
                    "description img" 70px
                    "description ." 1fr
                    / 600px 120px;
                }
                grid-column-gap: 45px;
                @include mqm('tablet-wide') {
                    &:nth-child(1n) {
                        grid-template: 
                        "img title" 60px
                        "img description" 90px
                        "img description" 1fr
                        / 120px 400px;
                    }
                    &:nth-child(2n) {
                        grid-template: 
                        "title img" 60px
                        "description img" 90px
                        "description img" 1fr
                        / 400px 120px;
                    }
                    grid-column-gap: 35px;
                }
                @include mqm('tablet-small') {
                    margin: 20px auto;
                    &:nth-child(1n) {
                        grid-template: 
                        "img" 80px
                        "title" 60px
                        "description" 
                        / 300px ;
                    }
                    &:nth-child(2n) {
                        grid-template: 
                        "img" 80px
                        "title" 60px
                        "description"
                        / 300px ;
                    }
                    justify-items: center;
                }

                img {
                    grid-area: img;
                    width: 120px;
                    align-self: center;
                    @include mqm('tablet-small') {
                        width: 80px;
                    }
                }
                h3 {
                    grid-area: title;
                    align-self: end;
                    padding-bottom: 10px;
                    @include tipo-1('medium', 1, 500, $dark-color-1);
                    @include mqm('tablet-small') {
                        @include tipo-1('small', 1, 500, $dark-color-1);
                        padding-bottom: 15px;
                        text-align: center;
                    }
                }
                .description {
                    grid-area: description;
                    background: white;
                    @include shadow;
                    border: 1px solid rgba(0, 0, 0, .1);
                    border-radius: 10px;
                    padding: 20px 25px;
                    @include mqm('tablet-small') {
                        padding: 15px 20px;
                    }
                    p {
                        @include tipo-1('smaller', 1.6, 300, $dark-color-1);
                        font-size: .925rem;
                        @include mqm('tablet-small') {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    
    // Sectors end here
    
    
    
    
    
    
    // Services start here
    
    &-services {
        padding: 100px 5% 60px 5%;
        @include mqm('tablet'){
            padding: 30px 2px;
        }
        background: $dark-color-1;
        .title {
            max-width: 350px;
            margin: 0 auto 80px auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                @include tipo-1 ('big', 1, 700, white);
                font-size: 3.5;
            }
            .folha {
                margin: {
                    top: 20px;
                }
                img {
                    width: 40px;
                }
            }
        }
        
        .services {
        
            [data-target] {
                opacity: 0;
                visibility: hidden;
                transform: translate3d(-50px, 0, 0) scale(.5);
                position: absolute;
                top: 0;
            }

            [data-target].active {
                opacity: 1;
                visibility: visible;
                transition: .3s;
                position: relative;
                top: auto;
                transform: translate3d(0px, 0, 0) scale(1);
            }

            [data-click].active {
                transform: scale(1.1);
                -webkit-filter: grayscale(0%);
                filter: grayscale(0%);
            }
            padding: 0 50px;
            @include mqm('tablet') {
                padding: 0 5%;
            }
            &-seletores {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin-bottom: 80px;
                @include mqm('tablet'){
                    margin-bottom: 30px;
                }
                .seletor {
                    &:hover {
                        transform: scale(1.1);
                        -webkit-filter: grayscale(0%);
                        filter: grayscale(0%);
                        transition: all .2s ease;
                    }
                    -webkit-filter: grayscale(100%) brightness(60%);
                    filter: grayscale(100%) brightness(60%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 10px 15px 10px;
                    width: 60px;
                    height: 60px;
                    background: white;
                    border-radius: 125px;
                    @include mqm('tablet-wide') {
                        width: 50px;
                        height: 50px;
                    }
                    img {
                        max-width: 90%;
                        max-height: 90%;
                    }
                }
            }
            &-item {
                .item-head {
                    width: 100%;
                    background: #212121;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px 100px;
                    @include mqm('tablet-wide') {
                        padding: 20px 10%;
                    }
                    @include mqm('tablet') {
                        flex-direction: column;
                    }
                    box-sizing: border-box;
                    .illustration {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 250px;
                        height: 250px;
                        background: $dark-color-1;
                        border-radius: 125px;
                        @include mqm('desktop') {
                            width: 200px;
                            height: 200px;
                        }
                        @include mqm('tablet-wide') {
                            width: 150px;
                            max-height: 150px;
                        }
                        @include mqm('tablet') {
                            width: 120px;
                            max-height: 120px;
                        }
                        @include mqm('tablet') {
                            margin-bottom: 30px;
                        }
                        img {
                            max-width: 90%;
                            max-height: 90%;
                        }
                    }
                    .service-title {
                        display: inline-block;
                        h3 {
                            @include tipo-1 ('big', 1.1, 500, white);
                            @include mqm('desktop') {
                                @include tipo-1 ('big', 1, 500, white);
                            }
                            margin-bottom: 10px;
                            opacity: .9;
                            text-align: right;
                            @include mqm('tablet') {
                                text-align: center;
                            }
                        }
                        p {
                            text-align: end;
                            @include tipo-1 ('small', 1.2, 500, white);
                            opacity: .3;
                            @include mqm('tablet-wide') {
                                text-align: center;
                            }
                        }
                        .wpp-cta {
                            display: flex;
                            align-items: center;
                            margin-top: 90px;
                            float: right;
                            @include mqm('tablet') {
                                margin-top: 40px;
                            }
                            &:hover {
                                span {
                                    transition: opacity .2s ease;
                                    opacity: .5;
                                }
                            }
                            span {
                                max-width: 300px;
                                opacity: 0;
                                @include mqm('tablet') {
                                    opacity: .5;
                                }
                                transition: opacity .2s ease;
                                @include tipo-1('smaller', 1.4, 300, white);
                                margin-right: 15px;
                                padding: 7px 10px;
                                border-radius: 4px;
                                background: rgba(255, 255, 255,.4);
                                position: relative;
                                @include mqm('tablet') {
                                    text-align: right;
                                    margin-right: 10px;
                                    font-size: .7rem;
                                }
                                &::after {
                                    content: "";
                                    display: inline-block;
                                    vertical-align: middle;
                                    margin-left: 10px;
                                    width: 0; 
                                    height: 0; 
                                    position: absolute;
                                    top: calc(50% - 5px);
                                    right: -5px;

                                    border-top: 5px solid transparent;
                                    border-bottom: 5px solid transparent; 
                                    border-left: 5px solid rgba(255, 255, 255,.4); 
                                }
                            }
                            img {
                                max-width: 30px;
                                cursor: pointer;
                                filter: saturate(00%);
                                &:hover {
                                    filter: saturate(100%)
                                }
                            }
                        }
                        
                    }
                }
                .item-desc {

                    .programas {
                        h3 {
                            @include tipo-1 ('medium', 1, 500, white);
                            text-align: center;
                            margin-bottom: 20px;
                        }
                        p {
                            margin-bottom: 20px;
                        }
                        h4 {
                            @include tipo-1 ('smaller', 1.4, 500, white);
                            opacity: .6;
                            text-align: center;
                            max-width: 200px;
                            margin: 0 auto;
                        }
                        img {
                            max-width: 400px;
                            @include mqm('phablet') {
                                width: 100%;
                            }
                            margin: 20px auto 40px auto;
                        }
                    }

                    padding: 40px 0;
                    p {
                        & + p {
                            margin-top: 10px;
                        }
                        max-width: 60%;
                        text-align: justify;
                        margin: 0 auto;
                        @include tipo-1("small", 1.5, 300, white);
                        font-size: .925rem;
                        opacity: .8;
                        @include mqm('tablet-wide') {
                            max-width: 100%;
                            @include tipo-1("smaller", 1.5, 300, white);
                        }
                        @include mqm('phone') {
                            max-width: 320px;
                            @include tipo-1("smaller", 1.5, 300, white);
                        }
                    }
                }
            }
        }
    }
    
    // Services end here
    
    
    
    
    
    
    // Documents start here
    
    &-documents {
        box-sizing: border-box;
        padding: 100px 5%;
        width: 100%;
        @include mqm('tablet') {
            padding: 50px 5%;
        }

        display: flex;
        flex: 1;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;

        h1 {
            margin: 0 40px 30px 0;
            align-self: flex-start;
            @include tipo-1('big', 1, 500, $dark-color-1);
            @include mqm('tablet') {
                margin: 0;
                margin-bottom: 30px;
            }
        }
        div {
            margin-left: 40px;
            @include mqm('tablet') {
                margin-left: 0;
            }
            ul {
                padding-top: 0px;
                li {
                    padding: 1.5px 0;
                    a {
                        cursor: pointer;
                        opacity: .7;
                        transition: opacity .2s ease;
                        @include tipo-1('small', 1.6, 300, $dark-color-1);
                        display: flex;
                        text-transform: uppercase;
                        &::before {
                            content: '';
                            display: block;
                            width: 20px;
                            height: 20px;
                            background: url('../img/icons/download.png') no-repeat center;
                            background-size: cover;
                            margin-right: 10px;
                        }
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    
    // Documents end here
}
