.searchs {
    background: url('../img/bg-home.png');
    max-width: 100%;
    min-height: 100vh;
    &-items {
        padding: 0px;
        @include mq('tablet') {
            padding: 100px;
        }
        display: grid;
        grid:
            "....  img" 
            "text  img"
            "....  img"
        /    55fr  45fr;
        @include mqm('tablet-wide') {
            grid:
                "text"
                "img"
            /    1fr;
        }
        &-text {
            grid-area: text;
            align-self: flex-start;
            flex: 55;
            display: grid;
            @include mqm('tablet-wide') {
                padding: 50px 5% 0 5%;
            }
            h2 {
                @include tipo-1 ('big-big', 1.2, 900, $dark-color-1);
                padding-bottom: 60px;
                max-width: 70%;
            }
            p {
                justify-self: center;
                max-width: 400px;
                @include center;
                margin-bottom: 30px;
                @include mqm('tablet') {
                    max-width: 320px;
                    margin: {
                        bottom: 40px;
                    }
                }
                @include tipo-1 ('small', 1.5, 400, $dark-color-1);
                opacity: .9;
            }
            span {
                justify-self: end;
                @include tipo-1 ('smaller', 1.5, 500, $dark-color-1);
                opacity: .7;
                margin-right: 30px;
            }
        }
        &-img {
            grid-area: img;
            justify-self: center;
            margin-left: 30px;
            @include mqm('tablet-wide'){
                padding: 30px 0;
                margin-left: 0;
            }
            img {
                max-width: 380px;
                @include mqm('desktop'){
                    max-width: 300px;
                }
            }
        }
    }
}