.who {
    max-width: 100%;
    min-height: 100vh;
    // background: url('../img/bg-home.png');
    background: $dark-color-1;
    
    position: relative;

    .folhas {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        img {
            max-width: 170px;
            @include mqm('tablet') {
                max-width: 100px;
            }
            position: absolute;
            &:nth-child(1) {
                top: 10%;
                left: 10%;
            }
            &:nth-child(2) {
                top: 40%;
                right: 10%;
            }
            &:nth-child(3) {
                top: 60%;
                left: 50%;
            }
            &:nth-child(4) {
                top: 70%;
                left: 10%;
            }
            &:nth-child(5) {
                top: 90%;
                left: 50%;
            }
        }
    }
    
    &-items {
        position: relative;
        z-index: 3;
        @include mq('tablet') {
            padding: 100px;
            padding-top: 40px;
        }
        display: flex;
        flex-flow: column wrap;
        
        & > h2 { 
            box-sizing: border-box;
            padding: 0 0 100px 0;
            @include mqm('tablet', 'max') {
                padding: 50px 10px 0 10px;
            }
            max-width: 100%;
            // @include tipo-1 ('big', 1.1, 900, $dark-color-1);   
            @include tipo-1 ('big', 1.1, 900, white);  
            @include mq('tablet') {
                // @include tipo-1 ('big-big', 1.2, 900, $dark-color-1);   
                @include tipo-1 ('big-big', 1.2, 900, white);           
            }
            opacity: .3;
        }
        
        &-content {
            // phone
            padding-bottom: 50px;
            display: flex;
            flex-direction: column;
            .img-wrapper {
                @include mq('tablet', 'max') {
                    padding: 50px;
                }
                @include mqm('phone'){
                    padding: 20px;
                }
                img {
                    max-width: 100%;
                    filter: brightness(90%);
                }
            }
            h3 {
                @include tipo-1 ('big', 1.2, 900, white);
                @include mqm('phone') {
                    font-size: 2rem;
                }
                @include mqm('phone-small') {
                    font-size: 1rem;
                }
                align-self: center;
                margin: 0;
                padding: 0;
                text-align: center;
            }
            // tablet+
            @include mq('tablet') {
                padding: 0 100px;
                margin-top: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                max-width: 900px;
                margin: 0 auto;
                
                .img-wrapper {
                    width: 90%;
                    height: 40%;
                    overflow: hidden;
                    position: relative;
                    right: 150px;
                    img {
                        filter: brightness(90%);
                        transition: all 1.5s ease;
                        &:hover {
                            filter: brightness(100%);
                            transform: scale(1.05);
                        }
                    }
                }
                h3 {
                    position: absolute;
                    right: 60px;
                    flex-shrink: 0;
                    @include tipo-1 ('big-big', 1.2, 900, white);
                    font-size: 4rem;
                    @include mqm('tablet-wide') {
                        font-size: 3rem;
                    }
                    @include mqm('phone') {
                        font-size: 2rem;
                    }
                    text-transform: uppercase;
                    z-index: 1;
                    text-align: center;
                }
                // primeiro item
                &.manager {
                    margin-bottom: 100px;
                    flex-direction: row-reverse;
                    h3 {
                        left: 60px;
                    }
                    .img-wrapper {
                        position: relative;
                        left: 150px;
                    }
                }
            }
        }
    }
}